---
import { Image } from "astro:assets";
import Sofi from "../../assets/inDevelopment.png";
---
<main class="flex flex-col justify-center items-center gap-2 h-[90%]">
    <Image src={Sofi} width={400} height={400} alt="Sofi la perrita planificando la web" />
    <h1 class="text-3xl">Ehh bellezón!</h1>
    <h1 class="text-3xl">Que hace un bellezón como tú e'un lugar como e'te?</h1>
    <h1 class="text-lg">{"<piropo de albañil>"}</h1>
</main>
