---
import UserGrowthChart from "./ui/UserGrowthChart";
const { data, err } = Astro.props;
---

<section
  class="flex flex-col flex-1 md:flex-3/6 gap-2 px-6 py-3 rounded-lg bg-[#121b31] border-2 border-[hsl(217,33%,20%)]"
>
  <h1 class="text-2xl font-semibold">Crecimiento de Usuarios</h1>
  <p class="text-slate-400 text-sm">
    Evolución de usuarios activos e inactivos.
  </p>
  <UserGrowthChart data={data} client:load />
</section>
