---
import Navbar from '../layouts/Navbar.tsx';
import Layout from '../layouts/Inside.astro';
import { Routes } from '../constant/routes';
import { $user } from '../controllers/auth';

const token = Astro.cookies.get('token');
if (!token) return Astro.redirect(Routes.LOGIN);
---
<Layout title="Inicio">
    <Navbar user={$user.get()!} client:load/>
	<main class="w-full h-full absolute">
		<div class="w-full h-20 flex justify-center bg-pink-300 rounded-2xl">
			<h1 class="text-black">Contenido</h1>
		</div>
	</main>
</Layout>
<style>
</style>
