---
import Navbar from '../layouts/Navbar';
import Layout from '../layouts/Inside.astro';
import { Routes } from '../constant/routes';
import { $user } from '../controllers/auth';

const token = Astro.cookies.get('token');
if (!token) return Astro.redirect(Routes.LOGIN);
---
<Layout title="Dashboard - OLT">
	<main class="w-full h-full absolute flex flex-col items-center overflow-y-auto">
		<Navbar user={$user.get()!} client:load/>
	</main>
</Layout>
<style>
</style>
