---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
	<main class="w-full h-full absolute">
		<div class="w-full h-20 flex justify-center bg-pink-300 rounded-2xl">
			<h1 class="text-black">Contenido</h1>
		</div>
	</main>
</Layout>
<style>
</style>
