---
import Layout from '../layouts/Inside.astro';
import Navbar from '../layouts/Navbar';
import ViewOLT from '../view/viewOlt';
import { Routes } from '../constant/routes';
import { user } from '../controllers/auth';
import { Tab } from '../constant/tab';

const token = Astro.cookies.get('token');
if (!token) return Astro.redirect(Routes.LOGIN);

---
<Layout title={Tab.OLT}>
    <main class="w-full h-lvh absolute px-4 py-2 overflow-y-auto">
        <Navbar user={user.get()!} pathname={Astro.url.pathname} client:load />
        <ViewOLT client:load/>
    </main>
</Layout>