---
import BackgroundLayout from "../layouts/Inside.astro";
import NavbarLayout from "../layouts/Navbar";
import { user } from '../controllers/auth';
import { Tab } from "../constant/tab";
---
<BackgroundLayout title={Tab.RODOLFIA}>
    <main class="w-full h-lvh absolute px-4 py-2 overflow-y-auto">
        <NavbarLayout user={user.get()!} pathname={Astro.url.pathname} client:load/>
        <section class="w-full h-fit min-w-fit flex justify-start">
            <h1 class="text-3xl text-blue-800 text-center font-bold underline underline-offset-8 decoration-4 rounded-full">RodolfIA</h1>
        </section>
        <section class="w-full h-5/6 mt-4 flex flex-col justify-end gap-2">
            <div class="w-full h-full bg-gray-55 rounded-xl shadow-xl flex flex-col items-center justify-center">
                <h2 class="text-2xl text-blue-700 font-bold">Hola, {user.get()}</h2>
            </div>
            <div class="w-full h-fit bg-blue-900 rounded-full px-5 flex flex-row justify-center gap-2 no-wrap">
                <textarea class="w-full px-4 pt-5 rounded-full bg-blue-900 outline-none resize-none text-md text-white" placeholder="Pregunta a RodolfIA"></textarea>
                <button type="button">
                    <img class="w-7 h-7" src="/assets/send.svg" alt="user photo" />
                </button>
            </div>
        </section>
    </main>
</BackgroundLayout>