---
import Layout from "../../layouts/Layout.astro";
import CreateUserForm from "../../components/admin/CreateUserForm"
import UsersTable from "../../components/admin/UsersTable"
---

<Layout title="Administración">
  <main  class="w-full flex flex-wrap gap-10 justify-center px-10">
    <section class="overflow-x-auto flex flex-col flex-1 sm:flex-8 px-6 py-3 rounded-lg bg-[#121b31]">
      <UsersTable client:only />
    </section>
    <section class="flex flex-col flex-1 sm:flex-2 px-6 py-3 rounded-lg bg-[#121b31]">
      <h1>Crear Nuevo Usuario</h1>
      <CreateUserForm client:only />
    </section> 
  </main>
</Layout>


