---
---
<nav class="w-full h-fit py-4">
    <ul class="flex flex-row justify-evenly">
        <li class="w-32 py-2 px-2 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">Dashboard</a>
        </li>
        <li class="w-32 py-2 px-2 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">OLT</a>
        </li>
        <li class="w-32 py-2 px-2 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">Tendencia</a>
        </li>
        <li class="w-32 py-2 px-2 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">RodolfIA</a>
        </li>
        <li class="w-32 py-2 px-2 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">Reportes</a>
        </li>
    </ul>
</nav>
<style>
</style>