---
import ProfileButton from '../components/buttons/profile.tsx';
import { $user } from '../controllers/auth';
import { Routes } from '../constant/routes';

---
<nav class="w-full h-fit py-4 flex flex-row justify-between items-center">
    <div></div>
    <ul class="flex flex-row justify-evenly gap-4">
        <li class="w-32 px-1 py-1 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href={Routes.HOME}>Dashboard</a>
        </li>
        <li class="w-32 px-1 py-1 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">OLT</a>
        </li>
        <li class="w-32 px-1 py-1 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">Tendencia</a>
        </li>
        <li class="w-32 px-1 py-1 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">RodolfIA</a>
        </li>
        <li class="w-32 px-1 py-1 flex flex-row justify-center font-light bg-gray-100 rounded-full transition-all duration-200 ease-in hover:text-gray-50 hover:bg-gray-300">
            <a href="#">Reportes</a>
        </li>
    </ul>
    <ProfileButton client:load user={$user.get()!} />        
</nav>
<script>
    const profileButton = document.getElementById('profile');
    profileButton?.addEventListener('click', () => {
        location.href = '/profile';
    });
</script>