---
import dayjs from "dayjs";
import Layout from "../layouts/Layout.astro";
import Form from "../components/dashboard/Form";
import Traffic from "../components/dashboard/Traffic";
import ClientStatus from "../components/dashboard/ClientStatus";

const minDate = dayjs("2025-07-01T00:00:00-04:00");
const today = dayjs();
const lastYear =
  today.subtract(1, "year") < minDate ? minDate : today.subtract(1, "year");
---

<Layout title="Dashboard">
  <main class="w-full flex flex-wrap gap-5 justify-evenly px-10">
    <div class="w-full sticky-form">
      <Form client:load />
    </div>
    <section class="w-full flex flex-wrap gap-5">
      <Traffic
        today={today.format()}
        lastYear={lastYear.format()}
        client:load
      />
    </section>
    <section class="w-full flex flex-wrap gap-5">
      <ClientStatus client:load />
    </section>
  </main>
</Layout>
