---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
    <main
        class="mx-10 p-5 flex flex-col gap-5 content-center rounded bg-[#121b31] border-2 border-[hsl(217,33%,20%)]"
    >
        <p>Keloke</p>
        <p>Keloke</p>
        <p>Keloke</p>
    </main>
</Layout>
