---
import Layout from "../layouts/Layout.astro";
import Form from "../components/traffic/ui/Form";
import TrafficChart from "../components/traffic/ui/TrafficChart";
import VolumenChart from "../components/traffic/ui/VolumenChart";
import BandwidthChart from "../components/traffic/ui/BandwidthChart";
import OntStatusChart from "../components/traffic/ui/OntStatusChart";
import BandwidthPercent from "../components/traffic/ui/BandwidthPercent";
---

<Layout title="Tráfico">
  <main class="w-full flex flex-wrap gap-5 justify-evenly px-10">
    <Form client:load />
    <section class="w-full flex flex-wrap gap-5">
      <TrafficChart client:load />
    </section>
    <section class="w-full flex flex-wrap gap-5">
      <VolumenChart client:load />
    </section>
    <section class="w-full flex flex-wrap gap-5">
      <BandwidthChart client:load />
      <BandwidthPercent client:load />
    </section>
    <section class="w-full flex flex-wrap gap-5">
      <OntStatusChart client:load />
    </section>
  </main>
</Layout>
