---
import Layout from "../layouts/Layout.astro";
import FormOLT from "../components/traffic/ui/FormOLT";
import FormODN from "../components/traffic/ui/FormODN";
import FormFAT from "../components/traffic/ui/FormFAT";
import TrafficOLT from "../components/traffic/TrafficOLT";
import TrafficODN from "../components/traffic/TrafficODN";
import TrafficFAT from "../components/traffic/TrafficFAT";

---

<Layout title="Tráfico">
  <main class="w-full flex flex-wrap gap-5 justify-evenly px-10">
    <section class="w-full">
      <FormOLT client:only />
      <TrafficOLT client:only />
    </section>
    <section class="w-full">
      <FormODN client:only />
      <TrafficODN client:only />
    </section>
    <section class="w-full">
      <FormFAT client:only />
      <TrafficFAT client:only />
    </section>

  </main>
</Layout>

