---
import Layout from "../layouts/Layout.astro";
import Form from "../components/traffic/Form";
import Chart from "../components/traffic/Chart";
import Table from "../components/traffic/Table";
---

<Layout title="Tráfico">
  <main class="w-full flex flex-wrap gap-5 justify-evenly px-10">
    <section class="w-full flex flex-col sm:flex-row gap-5 p-4 flex-wrap content-start rounded-lg bg-[#121b31] border-2 border-[hsl(217,33%,20%)] text-white">
      <aside class="w-full sm:w-[170px] shrink-0">
        <Form client:only />
      </aside>
      <section class="flex flex-col flex-1 gap-4 w-full">
        <Chart client:only />
        <Table client:only />
      </section>
    </section>
  </main>
</Layout>

