---
import Layout from "../layouts/Layout.astro";
import Form from "../components/traffic/Form";
import ChartWrapper from "../components/traffic/ChartWrapper";
import Table from "../components/traffic/Table";
import PlansCard from "../components/traffic/PlansCard";
---

<Layout title="Tráfico">
  <main class="w-full flex flex-wrap gap-5 justify-evenly px-10">
    <section class="w-full flex flex-wrap gap-5">
      <div class="flex-1 p-4 rounded-lg bg-[#121b31] border-2 border-[hsl(217,33%,20%)]">
        <Form client:only />
      </div>
      <ChartWrapper client:only />
    </section>
    <section class="w-full flex flex-wrap gap-5">
      <div class="flex-1">
        <Table client:only />
      </div>
      <div class="w-96">
        <PlansCard client:only />
      </div>
    </section>
  </main>
</Layout>

